{{ define "main" }}

{{ partial "operator/parsing.html" . }}

<div class="op-backdrop">
    <!-- <img src='/images/char_illust/illust_{{ .Scratch.Get "id" }}_{{ .Scratch.Get "elite-level-max" }}.png' alt="" style="object-position: {{ .Params.offset }};"> -->
    <img src='/images/char_header/{{ .Scratch.Get "id" }}.png' alt="">
    
</div>

<div class="op-header">
    <div class="op-header-content">
        <h1>{{ .Scratch.Get "name" }}</h1>
        <!-- <div class="text-echo">{{ .Scratch.Get "name" }}</div> -->
        <span>Subheader text</span>
    </div>
</div>

<div class="op-main util-grid">
    
    <div class="op-content">
        {{ .Content }}
        
    </div>
    <div class="op-list">
        <ul>
            {{ range .Page.Scratch.Get "tablecontents" }}
                <li>{{ . }}</li>
            {{ end }}
        </ul>
    </div>
</div>

<script>
var opTabs = {
    clickHandler: function(event) {
        event.preventDefault();

        let selectedTab = event.currentTarget;
        if (selectedTab.getAttribute('active-tab') == 'true') return;

        let activeTabs = document.querySelectorAll('[active-tab="true"]');
        let activeContent = document.querySelectorAll('[active-content="true"]');
        let targetContent = document.querySelectorAll('.' + event.currentTarget.hash.split('#')[1]);
        if (!targetContent) return;

        selectedTab.setAttribute('active-tab', 'true');

        activeTabs.forEach(function(tab) {
            tab.setAttribute('active-tab', 'false');
        });

        activeContent.forEach(function(section) {
            section.setAttribute('active-content', 'false');
            section.setAttribute('hidden', 'hidden');
        });

        targetContent.forEach(function (section) {
            section.removeAttribute('hidden', 'hidden');
            section.setAttribute('active-content', 'true');
        });

        event.preventDefault();
    },
    init: function() {
        let tabs = document.querySelectorAll('[data-tab]');

        //document.documentElement.addEventListener('click', opTabs.clickHandler, false);

        tabs.forEach(function(tab) {
            tab.addEventListener('click', opTabs.clickHandler, false);
        });
    }
}

var opRangeGrid = {
    rangeTable: "/data/range_table.json",
    createRange: function(jsonTable, className) {
        // get all objects that need to be updated
        const opRanges = document.getElementsByClassName(className);

        if (!opRanges) return;

        // iterate all elements for their data
        for (var e of opRanges) { 
            let id = JSON.parse(e.dataset.range);

            let minRow = maxRow = minCol = maxCol = 0;

            const rangeData = jsonTable[id];
            if (!rangeData) return;

            for (var i of rangeData.grids) {
                maxRow = Math.max(maxRow, i.row);
                minRow = Math.min(minRow, i.row);

                maxCol = Math.max(maxCol, i.col);
                minCol = Math.min(minCol, i.col);
            };

            for (let x = 0; minCol < maxCol; x++) {
                var col = document.createElement("div"); 
                for (let y = 0; minRow < maxRow; y++) {
                    var row = document.createElement("div"); 
                    row.className = "range-cell";
                    col.appendChild(row); 
                }
                e.appendChild(col);
            }
            
            // render to html
            /*  e.innerText = e.innerHTML;  */
        }
    },

    /** Updates all elements */
    refreshGrid: function(jsonTable) {
        this.createRange(jsonTable, "js-range-grid");
    },

    /** Initialization helper */
    init: function() {
        let requestURL = this.rangeTable;
        let request = new XMLHttpRequest();
        request.open('GET', requestURL);
        request.responseType = 'json';
        request.send();

        request.onload = function() {
            const rangeTableJSON = request.response;
            opRangeGrid.refreshGrid(rangeTableJSON);
        }
    }
}

opTabs.init();
opRangeGrid.init();
</script>

{{ end }}
