.browser-grid {
    grid-column: 1 / -1;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(15.5rem, 1fr));
    grid-gap: 1.6rem;

    justify-content: space-between;
    /* display: flex; */
}

@media (--desktop) {
    .browser-grid {
        grid-column: 3 / -1;
    }
}

.op-card {
    /* position: relative;
    width: 100%;
    height: 100%; */

    width: calc(50% - .8rem);
    height: 24rem;

    background: var(--color-black);
    overflow: hidden;

    /* margin: .8rem; */
    margin-bottom: 1.6rem;
}

@media (--mini-tablet) {
    .op-card {
        width: calc((100% / 4) - 1.35rem);
        height: 32rem;
    }
}

@media (--tablet) {
    .op-card {
        width: calc((100% / 6) - 1.35rem);
    }
}

.op-card img {
    min-height: 15rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

.op-card:hover {
    cursor: pointer;
}

.op-card h3 {
    line-height: 1;
}

.op-card-info .info-active {
    will-change: transform, opacity;
    transition: transform .5s ease-out, opacity .2s;
    transform: translateY(0);
    opacity: 1;

    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}

.op-card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 1.6rem;

    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    will-change: height;
    transition: height .2s ease;

    color: var(--color-white);

    /* required to keep elements on top when filter is applied */
    z-index: 10;
}

.op-card:hover .op-card-info {
    height: 100%;
}

.op-card:hover .info-active {
    transform: translateY(2rem);
    opacity: 0;
}

.info-hover {
    will-change: transform, opacity;
    transition: transform .5s ease-out, opacity .2s;
    transform: translateY(0);
    opacity: 0;

    display: flex;
    justify-content: space-between;
}

.op-card:hover .info-hover {
    transform: translateY(-100%);
    opacity: 1;
}

.card-valid img{
    filter: none;
}

.card-invalid h4[class^="rarity-"] {
    opacity: .7;
}

.card-invalid h3,
.card-invalid .info-hover {
    color: var(--color-light-gray)
}

.sidebar-stick {
    position: sticky;
    top: 4rem;
}

.filter-group {
    font-size: 1.4rem;
    width: 100%;
    color: var(--color-light-gray);
}

.filter-group:not(:first-of-type) {
    margin-top: 4rem;
}

.filter-title {
    font-weight: var(--weight-semibold);
}

.filter-group button {
    border: none;
    background: none;
    outline: none;

    color: var(--color-light-gray);
    margin-top: 1.2rem;
    padding: .4rem 3.2rem;
    width: 100%;
    cursor: pointer;
    text-align: left;
    font-weight: var(--weight-medium);
}

.filter-group button:hover {
    background: var(--color-white-15);
}

.filter-group button.is-checked {
    color: white;
}