/*
    Operator Tabs Shortcode
*/

h2.tabbed ul {
    display: inline;
    margin-left: 1.6rem;
    position: absolute;
}

h2.tabbed li {
    display: inline-block;
    
}

h2.tabbed a {
    width: 6.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    display: inline-block;
}

h2.tabbed a {
    color: var(--color-light-gray);
    outline: none;
    text-decoration: none;
}

h2.tabbed a:hover {
    color: var(--color-white);
}
h2.tabbed a:hover::after {
    border-bottom: 1px solid var(--color-light-gray);
}

h2.tabbed a[active-tab=true] {
    color: var(--color-white);
}

h2.tabbed a::after {
    content: '';
    width: 6.4rem;
    position: relative;
    bottom: .6rem;
    display: inline-block;
}

h2.tabbed a[active-tab=true]::after {
    border-bottom: 1px solid var(--color-white);
}

/* 
    Operator Stats Shortcode
*/
.guide-stats {
    background: var(--color-bg-1);
    margin-bottom: 2.4rem;
    row-gap: 0;
}

.guide-intro {
    background: var(--color-black);
    grid-column: 1 / -1;
    padding: 2.4rem 3.2rem;
}

.guide-intro-headline {
    display: flex;
    margin-bottom: .8rem;
}

.guide-intro-stats .guide-stats-block {
    width: 49%;
}

@media (--tablet) {
    .guide-intro {
        grid-column: 1 / 6;
    }
}

/* 
    Operator Icon and Tagline
*/
.guide-icon-profession {
    width: 2.4rem;
    height: 2.4rem;
}

.guide-tagline {
    font-size: 2.4rem;
    font-weight: 600;
    margin-left: 1.6rem;
    height: 2.4rem;
    line-height: 2.4rem;
}

@media (--tablet) {
    .guide-icon-profession {
        width: 5.6rem;
        height: 5.6rem;
    }

    .guide-tagline {
        font-size: 3rem;
        height: 5.6rem;
        line-height: 5.6rem;
    }
}

@media (--desktop) {
    .guide-icon-profession {
        width: 6.4rem;
        height: 6.4rem;
    }
    
    .guide-tagline {
        font-size: 4rem;
        height: 6.4rem;
        line-height: 6.4rem;
    }
}

/* 
    Operator Intro Stats (Position, Tags, Traits)
*/

.guide-stats-block {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 2.4rem;
    display: inline-block;
}

.guide-stats-block span {
    display: block;
    font-size: 1.4rem;
    font-weight: normal;
    color: var(--color-light-gray);
}

@media (--mini-tablet) {
    .guide-stats-block {
        width: 15rem;
    }
}

@media (--tablet) {
    .guide-stats-block {
        width: 14rem;
    }
}

@media (--desktop) {
    .guide-stats-block {
        width: 18.2rem;
    }
}

.guide-stat-trait {
    grid-column: span 4;
    padding: 0 3.2rem 2.4rem; /* subtracting top padding from margin of stats */
}

.guide-stat-trait .guide-stats-block {
    width: 100%;
    font-weight: normal;
}

@media (--tablet) {
    .guide-stat-trait {
        grid-column: span 3;
        padding-left: 1.6rem; 
    }
}

@media (--desktop) {
    .guide-stat-trait {
        padding: 0;
    }
}

/* 
    Operator Stat Icons
*/
.guide-stats-block svg {
    margin-right: .4rem;
}

.guide-stats-block .icon-health {
    fill: var(--color-warmgreen);
}

.guide-stats-block .icon-defence {
    fill: var(--color-orange);
}

.guide-stats-block .icon-artres {
    fill: var(--color-blue);
}

.guide-stats-block .icon-redeploy {
    fill: var(--color-pink);
}

.guide-stats-block .icon-attack {
    fill: var(--color-red);
}

.guide-stats-block .icon-atkspd {
    fill: var(--color-yellow);
}

.guide-stats-block .icon-block {
    fill: var(--color-purple);
}

.guide-stats-block .icon-cost {
    fill: var(--color-light-gray);
}

/* 
    Operator Attributes
*/
.guide-attributes {
    grid-column: 1/ -1;
    padding: .8rem 3.2rem 2.4rem; /* subtracting top padding from margin of stats */
    background: var(--color-bg-2);
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 14rem;
    grid-row-gap: 2.4rem;
}

.guide-attributes-inner {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;

    grid-column: auto;
    grid-row: 1;
}

@media (--mini-tablet) {
    .guide-attributes {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr) 16.4rem;
        grid-row-gap: 0;
    }

    .guide-attributes-inner {
        grid-column: 1 / -1;
        grid-row: auto;

        flex-flow: row wrap;
        justify-content: space-between;
    }
}

@media (--tablet) {
    .guide-attributes {
        grid-template-columns: repeat(4, 14rem) 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .guide-attributes-inner {
        grid-column: 1 / 5;
        grid-row: auto;

        justify-content: initial;
    }
}

@media (--desktop) {
    .guide-attributes {
        grid-template-columns: repeat(4, 18.2rem) 1fr;
    }

    .guide-attributes-inner {
        grid-column: 1 / 5;
    }

    .guide-attributes .guide-stats-block {
        font-size: 2.4rem;
    }
}

/*
    Operator Range for Stats
*/
.guide-range {
    height: 14rem;
    width: 100%;
    text-align: center;
    
    align-self: flex-end;
    
    background: var(--color-black);

    grid-column: 1 / -1;
    grid-row: 2 / -1;
}

@media (--mini-tablet) {
    .guide-range {
        grid-column: 1 / -1;
        grid-row: 3 / -1;
        margin-top: 2.4rem;
    }
}

@media (--tablet) {
    .guide-range {
        grid-column: 5 / -1;
        grid-row: 1 / -1;
        margin-top: 2.4rem;
    }
}

@media (--desktop) {
    .guide-range {
        margin-top: 0;
        grid-column: 5 / -1;
    }
}

/*
    Operator Talent
*/

.guide-talent {
    background: var(--color-bg-2);
    padding: 2.4rem 3.2rem;
    margin-bottom: 2.4rem;
}