html {
    font-size: 62.5%;
}

body {
    font-family: 'Source Sans Variable', sans-serif;
    /* word-spacing: .3rem; */
    background-color: var(--color-bg-main);
    color: var(--color-white);

    overflow-x: hidden;
}

a,
a:visited {
    color: var(--color-blue);
    text-decoration: none;
}

a:hover {
    color: var(--color-blue);
    text-decoration: underline;
}

/*       Header      */
.site-header {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    z-index: 10;

    grid-column: 1 / -1;
}

.site-logo {
    fill: var(--color-white);
    width: 19.2rem;
    height: 4rem;
    vertical-align: middle;
}

.site-wrapper {
    display: grid;
    grid-template-columns: 
    [full-start] minmax(2.4em, 1fr) 
    [main-start] minmax(0, 128em) [main-end]
    minmax(2.4em, 1fr) [full-end];
}

.site-wrapper > * {
    grid-column: main;
}

.util-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.2rem;
    /* margin: 2.4rem; */
}

.util-content-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.2rem;
}

@media (--tablet) {
    .site-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .util-grid {
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 1.6rem;
        /* max-width: 64rem; */
        /* margin: auto; */
    }

    .util-content-grid {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 1.6rem;
    }
}

@media (--desktop) {
    .util-grid {
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 2.4rem;
        /* max-width: 114rem; */
    }

    .util-content-grid {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 2.4rem;
    }
}

/*      Index Hero        */
.hero-background {
    width: 100vw;
    height: 80vh;

    background: linear-gradient(180deg, rgba(26, 26, 26, 0.5) 0%, rgba(26, 26, 26, 0) 40%), linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, var(--color-bg-main) 100%), url('/images/site-background.jpg') center;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.hero {
    /* width: 100vw; */
    text-align: left;

    margin-top: 15vh;
    margin-bottom: 4.8rem;
}

.hero h1 {
    text-transform: uppercase;
}

.hero > * {
    grid-column: 1 / -1;
}

@media (--desktop) {
    .hero-background {
        width: 100vw;
        height: 46vw;
    }

    .hero p {
        grid-column: 1 / 5;
    }
}