html {
    font-size: 62.5%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--color-g1);
    color: var(--color-white);
}

a,
a:visited {
    color: var(--color-accent1);
    text-decoration: none;
}

a:hover {
    color: var(--color-accent1);
    text-decoration: underline;
}

/*       Header      */
header {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    grid-column: 1 / -1;
}

.site-logo {
    fill: var(--color-white);
    width: 19.2rem;
    height: 2.4rem;
}

.site-wrapper {
    display: grid;
    grid-template-columns: 
    [full-start] minmax(2.4em, 1fr) 
    [main-start] minmax(0, 114em) [main-end]
    minmax(2.4em, 1fr) [full-end];
}

.site-wrapper > * {
    grid-column: main;
}

.util-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.2rem;
    /* margin: 2.4rem; */
}

@media (--tablet) {
    .util-grid {
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 1.6rem;
        /* max-width: 64rem; */
        /* margin: auto; */
    }
}

@media (--desktop) {
    .util-grid {
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 2.4rem;
        /* max-width: 114rem; */
    }
}

/*      Index Hero        */
.hero-background {
    width: 100vw;
    height: 80vh;

    background: linear-gradient(180deg, rgba(26, 26, 26, 0.5) 0%, rgba(26, 26, 26, 0) 40%), linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, var(--color-g1) 100%), url('/images/site-background.jpg') center;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.hero {
    /* width: 100vw; */
    text-align: center;
    grid-column: 1 / -1;

    margin-top: 25vh;
}

@media (--desktop) {
    .hero-background {
        width: 100vw;
        height: 46vw;
    }
}