/* 
    General Typography
*/
h1 {
    font-size: 3.6rem;
    font-weight: var(--weight-bold);
}
h2 {
    font-size: 3.6rem;
    line-height: 2.4rem;
    font-weight: var(--weight-medium);
    
    font-variant-caps: all-small-caps;
}
h3 {
    font-size: 1.8rem;
    font-weight: var(--weight-semibold);
}
h4 {
    font-size: 1.4rem;
    font-weight: var(--weight-regular);
    /* text-transform: uppercase; */
}

p {
    font-size: 1.8rem;
    font-weight: var(--weight-regular);
    line-height: 2.8rem;
    color: var(--color-white);
    padding-bottom: 2.4rem;
}

p:empty {
    display: none;
    visibility: hidden;
}

/* 
    Specific Headers 
*/

h2.section-title {
    overflow: hidden;
    word-spacing: .5rem;
    margin: 2.4rem 0;
    color: var(--color-light-gray);
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--color-white-15);
}

.highlight--yellow {
    color: var(--color-yellow);
    font-style: normal;
}

.highlight--red {
    color: var(--color-red);
    font-style: normal;
}

.highlight--lightblue {
    color: var(--color-lightblue);
    font-style: normal;
}

.highlight--blue {
    color: var(--color-blue);
    font-style: normal;
}

.highlight-warmgreen {
    color: var(--color-warmgreen);
    font-style: normal;
}

.highlight--green {
    color: var(--color-green);
    font-style: normal;
}

.highlight--purple {
    color: var(--color-purple);
    font-style: normal;
}

.highlight--pink {
    color: var(--color-pink);
    font-style: normal;
}

.rarity-6 {
    color: var(--color-orange);
}

.rarity-5 {
    color: var(--color-yellow);
}

.rarity-4 {
    color: var(--color-purple);
}

.rarity-3 {
    color: var(--color-blue);
}

.rarity-2 {
    color: var(--color-warmgreen);
}

.rarity-1 {
    color: var(--color-light-gray);
}

/*  Old Header Style
h2.section-title::after {
    content: '';
    width: 100%;
    height: .1rem;
    margin-top: -5rem;
    background: var(--color-g2);
    display: inline-block;
} */

/* For TITLE with line next to it
h2.section-title::before {
    content: '';
    margin-right: 2.4rem;
    width: .3rem;
    height: 2rem;
    background: var(--color-white);
    display:inline-block;
}

h2.section-title::after {
    content: '';
    margin-left: 2.4rem;
    margin-right: -100%;
    width: 100%;
    height: 1.4rem;
    vertical-align: bottom;
    border-top: 1px solid var(--color-white-15);
    display: inline-block;
}

h2.section-title--red::before {
    background: var(--color-accent-red);
}

h2.section-title--sun::before {
    background: var(--color-accent-sun);
}

h2.section-title--sky::before {
    background: var(--color-accent-sky);
}

h2.section-title--poison::before {
    background: var(--color-accent-poison);
} */