@custom-media --tablet (width >= 40rem);
@custom-media --desktop (width >= 72rem);

:root {
    --color-black: #151515;
    --color-keyline: #252525;
    --color-g1: #1A1A1A;
    --color-g2: #333;
    --color-g3: #666;
    --color-g4: #888;
    --color-g5: #E0E0E0;
    --color-white: #F2F2F2;
    --color-lime: #C3FF76;
    --color-accent1: #76CEFF;
    --color-accent2: #FF7676;

    --color-accent-sun: #F9C53F;
    --color-accent-red: #F9553F;
    --color-accent-sky: #4ABEF0;
    --color-accent-poison: #92E74F;

    --color-white-50: #F2F2F280;
    --color-white-15: #F2F2F226;
}