<div class="guide-stats util-content-grid">
    <div class="guide-intro">
        <div class="guide-intro-headline"> 
            <img class="guide-icon-profession" src='/images/char_profession/icon_profession_{{ .Page.Scratch.Get "profession" }}.png' alt='{{ .Page.Scratch.Get "profession" }}'>
    
            <div class="guide-tagline">
                <span class='rarity-{{ .Page.Scratch.Get "rarity" | add 1 }}'>{{ .Page.Scratch.Get "rarity" | add 1 }}&#x2B51;</span>
                Character Tagline
            </div>
        </div>
    
        <div class="guide-intro-stats">
            <div class="guide-stats-block">
                <span>Position</span>
                {{ .Page.Scratch.Get "position" | lower | title}}
            </div>
        
            <div class="guide-stats-block">
                <span>Tags</span>
                {{ delimit (.Page.Scratch.Get "taglist") ", " }}
            </div>
        </div>
    </div>

    <div class="guide-trait">
        <div class="guide-stats-block ">
            <span>Traits</span>
            {{ .Page.Scratch.Get "trait" | replaceRE "<.*?>(.*?)<.*?>" "<em class='highlight--sky'>$1</em>" | safeHTML }}
        </div>
    </div>
    
    {{ $maxLevel := .Page.Scratch.Get "elite-level-max" }}
    <div class="guide-attributes">
        <div class="guide-stats-block">
            <span>Health</span>
            {{ index (.Page.Scratch.Get "max-maxHp") $maxLevel }}
        </div>
        <div class="guide-stats-block">
            <span>Defense</span>
            {{ index (.Page.Scratch.Get "max-defense") $maxLevel }}
        </div>
        <div class="guide-stats-block">
            <span>Arts Resistance</span>
            {{ index (.Page.Scratch.Get "max-resist") $maxLevel }}
        </div>
        <div class="guide-stats-block">
            <span>Redeploy Time</span>
            {{ index (.Page.Scratch.Get "max-redeploy") $maxLevel }}s
        </div>
        <div class="guide-stats-block">
            <span>Attack</span>
            {{ index (.Page.Scratch.Get "max-attack") $maxLevel }}
        </div>
        <div class="guide-stats-block">
            <span>Attack Interval</span>
            {{ index (.Page.Scratch.Get "max-atkInterval") $maxLevel }}s
        </div>
        <div class="guide-stats-block">
            <span>Block</span>
            {{ index (.Page.Scratch.Get "max-block") $maxLevel }}
        </div>
        <div class="guide-stats-block">
            <span>DP Cost</span>
            {{ index (.Page.Scratch.Get "max-cost") $maxLevel }}
        </div>
    </div>
</div>