{{- .Scratch.Set "roman" "I" -}}
{{- if eq (.Get 0) "talent" -}}
{{ $talentName := .Page.Scratch.Get "talent-name" }}
{{ $talentDesc := .Page.Scratch.Get "talent-description-max" }}
    
    <h2 class="section-title tabbed">Talent
        <ul>
            {{- range $i, $e := $talentName -}}
                {{- if eq $i 1 -}}
                    {{- $.Scratch.Set "roman" "II" -}}
                {{- else if eq $i 2 -}}
                    {{- $.Scratch.Set "roman" "III" -}}
                {{- end -}}
                    <li><a data-tab {{ if eq $i 0}}active-tab="true"{{ else }}active-tab="false"{{ end }} href="{{ $.Site.BaseURL }}#tab-talent-{{ $e | urlize }}">{{- $.Scratch.Get "roman" -}}</a></li>
            {{- end -}}
        </ul>
    </h2>
        <div class="guide-talent">
            {{ range $i, $e := $talentName }}
            <div {{ if eq $i 0}}active-content="true"{{ else }}hidden{{ end }} class="tab-talent-{{ $e | urlize }}">
                <h3>{{ $e }}</h3>
                {{ index $talentDesc $i | replaceRE "<.*?>(.*?)<.*?>" "<em class='highlight--blue'>$1</em>" | safeHTML }}<br>
            </div>
            {{ end }}
        </div>
{{- end -}}

{{- .Page.Scratch.Add "tablecontents" (slice (.Get 0)) -}}