{{ define "main" }}

{{ partial "operator/parsing.html" . }}

<div class="op-header">
    <img src='/images/char_avatar/{{ .Scratch.Get "id" }}.png' alt='{{ .Scratch.Get "name" }}'>
    <h1>{{ .Scratch.Get "name" }}</h1>
</div>

<div class="op-nav">
    <span>General</span>
    <span>Guide</span>
    <span>Gallery</span>
</div>

<div class="op-stats util-grid">
    <div class="op-list">
        <ul>
            <li>Stats</li>
            <li>Skills</li>
            <li>Talents</li>
        </ul>
    </div>
    <div class="op-content">
        <h2 class="section-title section-title--sun">Stats</h2>

        {{/*  TODO: Isolate event listeners from HTML  */}}
        {{/*  loop through max elite levels to generate elite buttons  */}}
        {{ range $i, $num := (seq (.Scratch.Get "elite-levels")) }}
            <button onclick="opStats.updateEliteLevel(this.dataset.level)" data-level="{{ $i }}">Elite {{ $i }}</button>
        {{ end }}

        <input type="range" name="level-slider" class="input-range" id="js-op-level" min="0" max="49" value="0" data-max='{{ .Scratch.Get "max-levels" | jsonify }}' oninput="opStats.refreshStats()">
        <p>Elite <span id="js-elite-value">N/A</span></p>
        <p>Level <span id="js-level-value">N/A</span></p>

        <br><br>

        <div class="op-stat-block">
            <h4>Attack</h4>
            <p class="js-op-stat" data-min="{{ .Scratch.Get "min-attack" | jsonify }}" data-max="{{ .Scratch.Get "max-attack" | jsonify }}">N/A</p>
        </div>
        <div class="op-stat-block">
            <h4>Health</h4>
            <p class="js-op-stat" data-min="{{ .Scratch.Get "min-maxHp" | jsonify }}" data-max="{{ .Scratch.Get "max-maxHp" | jsonify }}">N/A</p>
        </div>
        <div class="op-stat-block">
            <h4>Defense</h4>
            <p class="js-op-stat" data-min="{{ .Scratch.Get "min-defense" | jsonify }}" data-max="{{ .Scratch.Get "max-defense" | jsonify }}">N/A</p>
        </div>
        <div class="op-stat-block">
            <h4>Arts Resistance</h4>
            <p class="js-op-stat" data-min="{{ .Scratch.Get "min-resist" | jsonify }}" data-max="{{ .Scratch.Get "max-resist" | jsonify }}">N/A</p>
        </div>
        <div class="op-stat-block">
            <h4>Redeploy</h4>
            <p class="js-op-stat" data-min="{{ .Scratch.Get "min-redeploy" | jsonify }}" data-max="{{ .Scratch.Get "max-redeploy" | jsonify }}">N/A</p>
        </div>
        <div class="op-stat-block">
            <h4>DP Cost</h4>
            <p class="js-op-stat" data-min="{{ .Scratch.Get "min-cost" | jsonify }}" data-max="{{ .Scratch.Get "max-cost" | jsonify }}">N/A</p>
        </div>
        <div class="op-stat-block">
            <h4>Block</h4>
            <p class="js-op-stat" data-min="{{ .Scratch.Get "min-block" | jsonify }}" data-max="{{ .Scratch.Get "max-block" | jsonify }}">N/A</p>
        </div>
        <div class="op-stat-block">
            <h4>Attack Interval</h4>
            <p class="js-op-stat" data-min="{{ .Scratch.Get "min-atkInterval" | jsonify }}" data-max="{{ .Scratch.Get "max-atkInterval" | jsonify }}">N/A</p>
        </div>

        <br><br>

        <div class="op-stat-trait">
            <h3>Traits</h3>
            <p>{{ .Scratch.Get "trait" | replaceRE "<.*?>(.*?)<.*?>" "<span class='highlight--sky'>$1</span>" | safeHTML }}</p>
        </div>

        <br><br>

        <div class="op-stats-cost">
            <h3>Elite Promotion Requirements</h3>
            <p>Elite 1 Materials: {{ .Scratch.Get "materials-e1" | jsonify }}</p>
            <p>Elite 2 Materials: {{ .Scratch.Get "materials-e2" | jsonify }}</p>
        </div>
    </div>

    <div class="op-skills-content">
        <div id="js-test" data-skills='{{ .Scratch.Get "skills" | jsonify }}'></div>
    </div>
</div>

<script>
var utils = {
    /**
     * Interpolate 2 values with custom variables
     * @param  {number} start - minimum value to interpolate
     * @param  {number} end   - maximum value to interpolate
     * @param  {number} index - current position
     * @param  {number} max   - maximum value of index
     * @return {number} interpolated value
     */
     interpolate: function(start, end, index, max) {
        return start + ((index / max) * (end - start));
    },

    /**
     * Update text of an HTML element
     * @param  {string} targetID - ID of element to change
     * @param  {number} amount   - the amount to update
     */
    updateText: function(targetID, amount) {
        document.getElementById(targetID).textContent = amount;
    }
}

var opStats = {
    /** Current elite level */
    opEliteLevel: 0,

    /**
     * Update elite level variable + refresh
     * @param  {number} - amount the amount to update
     */
    updateEliteLevel: function(amount) {
        this.opEliteLevel = amount;
        this.refreshStats();
    },

    /**
     * Get current elite level
     * @return {number} - the elite level
     */
    getEliteLevel: function() {
        return this.opEliteLevel;
    },

    /**
     * @function sliderUpdate
     * @param  {node} slider      - object of slider to link
     * @param  {string} className - class name of elements to update with slider
     */
    sliderUpdate: function(slider, className) {

        // get all objects that need to be updated
        const opStatValues = document.getElementsByClassName(className);

        // get current slider value
        let sliderValue = slider.value;

        let maxLevel = JSON.parse(slider.dataset.max)[this.opEliteLevel];

        // offset value for zero based calculation
        let sliderMax = maxLevel - 1; 
        slider.max = sliderMax;

        // slider value can never be larger than the max
        sliderValue = Math.min(sliderValue, sliderMax);

        // iterate all elements for their data
        for (var e of opStatValues) { 
            let minValue = JSON.parse(e.dataset.min);
            let maxValue = JSON.parse(e.dataset.max);

            // get corresponding values for current elite level
            let currentMin = minValue[this.opEliteLevel];
            let currentMax = maxValue[this.opEliteLevel];
            let result = currentMin;

            // interpolate data for each level if min and max are different
            if (currentMin !== currentMax) {
                let calc = utils.interpolate(currentMin, currentMax, sliderValue, sliderMax);
                result = Math.round(calc);
            }

            // render to html
            e.textContent = result;
        }
    },

    /** Updates all elements related to the level slider */
    refreshStats: function() {
        const opStatSlider = document.getElementById("js-op-level");
        this.sliderUpdate(opStatSlider, "js-op-stat");
        utils.updateText("js-level-value", parseInt(opStatSlider.value) + 1);
        utils.updateText('js-elite-value', this.opEliteLevel);
    },

    /** Initialization helper */
    init: function() {
        this.refreshStats();
    }
}

opStats.init();
</script>

{{ end }}
